{% extends "core/layout.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Messages" %}{% endblock %}
{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-4" style="font-family: 'Libre Baskerville', serif;">{% translate "Messages Received" %}</h1>
    <div class="table-responsive">
        {% if messages %}
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>{% translate "Sender Name" %}</th>
                    <th>{% translate "Email" %}</th>
                    <th>{% translate "Message" %}</th>
                    <th>{% translate "Date Received" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{message.name}} </td>
                    <td>{{message.email}} </td>
                    <td>{{message.message}} </td>
                    <td>{{message.send_time}} </td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
        {% else %}
        <center><h1>{% translate "There is no messages" %}</h1></center>
        {% endif %}
    </div>
</div>

{% endblock %}